.text-header {
    background-color:  #1DB954;
    width: 69%;
    display: inline-block;
    vertical-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid #FFFFFF;
    border-radius: 3px;
}