body {
    font-family: sans-serif;
    color: #000000;
    text-align: center;

}
h1 {
    font-family: sans-serif;
    color: #1DB954;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    font-family: sans-serif;
    color: #1DB954;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 50px;
}

h3 {
    font-family: sans-serif;
    color: #000000;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 5px;
}

h4, h5, h6 {
    font-family: sans-serif;
    color: #000000;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 1px;
}